<h1>
  Items
</h1>

<ul>
  {{#each model as |item|}}
    <li class="item">
      {{item.title}} created on {{item.date}} {{if item.isNew '(New!)'}}
    </li>
  {{/each}}
</ul>

<button id="add-items" {{action 'addItems'}}>
  Add new items
</button>

<button id="reset-db" {{action 'resetDb'}}>
  Reset DB
</button>
