<h1>
  Items
</h1>

<table class='table'>
  <thead>
    <tr>
      <th>
        Created on
      </th>
      <th>
        Is Read
      </th>
      <th>
        Is Synced
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |item|}}
      <tr class='item' data-test-row>
        <td>
          {{item.date}}
        </td>
        <td data-test-is-read>
          {{item.isRead}}
        </td>
        <td data-test-is-synced>
          {{item.isSynced}}
        </td>
        <td>
          <button
            data-test-mark-as-read
            {{on 'click' (fn this.markAsRead item)}}
          >
            Mark as read
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<button id='add-items' {{on 'click' this.fetchItems}}>
  Fetch items from API
</button>

<button id='add-items' {{on 'click' this.addItem}}>
  Add item locally
</button>

<button id='add-items' {{on 'click' this.syncItems}}>
  Sync to server
</button>

<button id='reset-db' {{on 'click' (perform this.resetDbTask)}}>
  Reset DB
</button>